* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    color: #000000;
    text-align: center;
    /* max-width: 90%; */
    margin: auto;
   
  }
  
  section, hr {
    max-width: 90%;
  }

  nav,
  footer {
    padding: 1% 0;
    background-color: rgb(6, 8, 8);
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  nav>p {
    padding-top: auto;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.3em;
    font-family: 'Bowlby One SC', cursive;
    color: #96337D;

  }

  nav>ul {
    list-style: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    padding: 0;
  }
  
  .nav-links {
    display: inline;
    justify-self: center;
    margin-right: auto;
    margin-left: auto;
  }

  nav a {
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    padding: 5px;
  }

  header {
    padding-top: 125px;
  }

  a {
    color: #05878A;
  }

  a:active {
    color: #DD9933;
  }

  li > a:hover {
    color: #DD9933;
    }

  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 1.5em;
    color: #05878A;
  }
  
  h2 {
    font-size: 1.25em;
    color: #05878A;
  }

  p.about-me-p {
    font-size: 16px;
    text-align: center;
    text-indent: 20px;
  }

  hr {
    border-top: 1px solid #96337D;
  }

  h2 > a {
    text-decoration: none;
  }

  h2 > a:hover {
    color: #DD9933;
  }

  img {
    font-size: 12px;
  }

  img.project-img {
    max-width: 90%;
  }

  p.project-p {
    font-size: 16px;
  }

  .fab, .fas {
    color: #05878A;
  }

  .project-links {
    display: flex;
    justify-content: space-evenly;
  }

  a.link-to-project {
    text-decoration: none;
  }
  
  a > i:hover {
    color: #DD9933;
  }


  a > span:hover {
    color: #DD9933;
  }

  .contact-link {
    display: block;
    line-height: 1.6;
    text-decoration: none;
  }

  span.emphasis {
    font-weight: 600;
  }

  footer {
    font-size: 8px;
    color: #05878A;
  }

  @media screen and (min-width: 550px) {
    body {
       text-align: center;
    }

    section, hr {
      max-width: 85%;
    }
    
    nav {
      padding: 1%;
      float: left;
    }

    nav>p {
      display: flex;
      padding-left: 10px;
      float: left;
      font-size: 1.3em;
      font-family: 'Bowlby One SC', cursive;
      letter-spacing: 0.05em;
      color: #96337D;
  
    }
  
    nav>ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; 
      padding-top: 12px;
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-weight: 700;
    }
    
    .nav-links {
      margin-right: 0;
      margin-left: 0;
    }

    nav a {
      text-decoration: none;
      padding-right: 10px;
    }
  
    header {
      padding-top: 14%;
    }

    h1 {
      font-size: 1.6em;
    }

    section, hr {
      max-width: 90%;
    }

    h2 {
      font-size: 26px;
    }

    p.about-me-p {
      font-size: 20px;
      text-align: left;
      text-indent: 20px;
    }

    a.link-to-project {
      font-size: 30px;
      text-decoration: none;
    }

    p.programs {
      font-size: 30px;
    }

    p.project-p {
      font-size: 20px;
    }

    a.contact-link {
      font-size: 30px;
      text-decoration: none;
    }

    span.contact-words, span.project-link {
      font-size: 20px;
      margin-left: 3px;
    }

    .contact-list {
      display: flex;
      justify-content: space-evenly;
    } 
    

    footer {
      font-size: 10px;
    }
  }
   

  @media screen and (min-width: 1000px) {
    
    nav>p {
      color: #ddd;
      display: flex;
      padding-top: auto;
      padding-left: 10px;
      float: left;
      font-size: 1.8em;
      font-family: 'Bowlby One SC', cursive;
      letter-spacing: 0.05em;
      color: #96337D;
  
    }
  
    nav>ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 20px;
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-weight: 800;
      font-size: 1.3em;
    }
    
    nav a {
      text-decoration: none;
      padding-right: 10px;
    }
    
    h1 {
      font-size: 2.2em;
    }

    h2 {
      font-size: 30px;
    }

    p.programs {
      font-size: 35px;
    }

    a.link-to-project {
      font-size: 35px;
    }

    a.contact-link {
      font-size: 35px;
    }

    header {
      padding-top: 14%;
    }

    footer {
      font-size: 10px;
      
    }

  }